@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&family=Zen+Antique&display=swap');

html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

.arrowbtn{
	--arrow-color: #333; /* 矢印の色を設定 */
	display: inline-flex; /* 横並びに配置 */
	align-items: center; /* 垂直方向を中央に揃える */
	color: var(--arrow-color); /* 文字色を矢印の色と一致 */
	text-decoration: none; /* 下線を非表示 */
	position: relative; /* 疑似要素の位置基準 */
  margin-right: 2em;
  float: right;
}

.arrowbtn::after {
	border-bottom: 1px solid var(--arrow-color); /* 下線のスタイルを矢印として設定 */
	border-right: 1px solid var(--arrow-color); /* 右線のスタイルを矢印として設定 */
	content: ''; /* 疑似要素のコンテンツを空に設定 */
	width: 30px; /* 矢印の幅を30pxに設定 */
	height: 10px; /* 矢印の高さを10pxに設定 */
	position: absolute; /* 親要素に対して絶対位置 */
	left: 100%; /* テキストの右端に配置 */
	transform: skewX(50deg); /* 矢印の傾きの調整 */
	transition: all .3s; /* なめらかな移動効果 */
}

/* マウスオーバー時の動き */
.arrowbtn:hover::after {
	margin-left: 10px; /* マウスオーバー時に矢印を10px右に移動 */
}
}
