@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&family=Zen+Antique&display=swap');

html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #222;
}

  .content {
  margin: 5%;
  h2 {
    color: #0f2350;
    font-size: 2em;
    margin-bottom: 1em;
	text-align: center;
	margin-top: 1em;
}

}



/* マウスオーバー時の動き */
.arrowbtn:hover::after {
	margin-left: 10px; /* マウスオーバー時に矢印を10px右に移動 */
}


  @media screen and (min-width: 768px){
	.content{
		margin: auto 10%;
	}
  }

